body{
    margin: 0;
    padding: 0;
}

nav{
	position: fixed;
	background-color: black;
    transition: 5s;
	overflow-y: hidden;
}

nav button{
	padding: 0;
}

.navbar-brand{
	font-style: 'Anton',cursive;
	letter-spacing: 0.5px;
	color: white;
	margin: 0px;
	padding: 0px;
}

.navbar-brand h4{
	letter-spacing: 0.5px;
	color: white;
	margin: 0px;
	padding: 0px;
}

.login{
	color: gold;
}

#navbarNav{
	justify-content: flex-end;
}

.nav-link{
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
}

.dropdown-menu{
	background-color: white;
}

.dropdown-menu .dropdown-item{
	padding: 10px;
}

.side-icon{ 
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-icon img{
    width: 25%;
    border-radius: 50%;
    margin-bottom: 5px;
    padding: 2px;
}

img {
    box-shadow: 0px 0px 4px white;
}

.image{
    background-image: url("contact-wallpaper.jpg");
    width: 100%;
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#contact{
	padding: 10px;
}

#contact h6{
	color: white;
}

#contact div p{
	color: white;
	opacity: 0.9;
}


#follow-us{
	background-color: rgba(0,0,0,0.5);
    position: absolute; 
    bottom: 0px;
    right: 0px; 
	margin-right: 10px;
	margin-left: auto;
	color: gold;
	display: flex;
	flex-direction: column;
	text-align: center;
}

#follow{
	justify-content: space-around;
	margin-bottom: 10px;
}

#follow a{
	color: gold;
	margin: 10px;
}

#follow a i{
	width: 10px;
}

/*
div{
    position: relative;
    width: 100%;
    background: white;
    border-radius: 100%;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: auto;
}

ul{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    display: flex;
}

ul li{
    list-style: none;
}

ul li a{
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    text-align: none;
    color: #262626;
    margin: 0 20px;
    transition: 0.5s;
}

ul li a span{
    position: absolute;
    transition: transform 0.5s;
}

ul li a span:nth-child(1),
ul li a span:nth-child(3)
{
    width: 100%;
    height: 1px;
    background: #262626;
}

ul li a span:nth-child(1){
    top: 0;
    left: 0;
    transform-origin: right;
}

ul li a:hover span:nth-child(1)
{
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
}

ul li a span:nth-child(3){
    bottom: 0;
    left: 0;
    transform-origin: left;
}

ul li a:hover span:nth-child(3)
{
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

ul li a span:nth-child(2),
ul li a span:nth-child(4)
{
    width: 1px;
    height: 100%;
    background: #262626;
}

ul li a span:nth-child(2){
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: bottom;
}

ul li a:hover span:nth-child(2)
{
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.5s;
}

ul li a span:nth-child(4){
    top: 0;
    right: 0;
    transform: scaleY(0);
    transform-origin: top;
}

ul li a:hover span:nth-child(4)
{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}*/