body{
	background-image: url("login-wallpaper.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#outer-div{
	margin-top: 30%; 
	width: 100%;
	height: 50vh;
	background-color: rgba(255,255,255,0.2);
}

#inner-div{
	width: 60%;
	height: 120%;
	background-color: rgba(255,255,255,0.5);
}

form{
	padding: 10px;
}
label{
	font-size: 18px;
}

#inner-div p{
	padding: 10px;
	font-size: 12px;
}